In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df1 = pd.read_csv('../data/data_work.csv')
df2 = pd.read_csv('../data/data_work_2.csv')

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2744 entries, 0 to 2743
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         2744 non-null   object
 1   Condition     2744 non-null   object
 2   Size          2744 non-null   object
 3   Wheel_Size    2744 non-null   object
 4   Material      2744 non-null   object
 5   Front_travel  2744 non-null   object
 6   Rear_travel   2744 non-null   object
 7   Price         2744 non-null   object
 8   Currance      2744 non-null   object
 9   Unnamed: 9    1 non-null      object
dtypes: object(10)
memory usage: 214.5+ KB

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3672 entries, 0 to 3671
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         3672 non-null   object
 1   Condition     3672 non-null   object
 2   Frame Size    3672 non-null   object
 3   Wheel Size    3672 non-null   object
 4   Material      3672 non-null   object
 5   Front Travel  3672 non-null   object
 6   Rear Travel   3672 non-null   object
 7   Price         3672 non-null   object
dtypes: object(8)
memory usage: 229.6+ KB

In [7]:
df1.head()

,Title,Condition,Size,Wheel_Size,Material,Front_travel,Rear_travel,Price,Currance,Unnamed: 9
0,NS Carbon Define 130/150 Size Medium,Excellent,M,"29""",Carbon,160,155,4600,USD,NaN
1,Santa Cruz Tallboy A D build Large,Excellent,L,"29""",Aluminium,120,110,1800,USD,NaN
2,Santa Cruz Bronson C medium,Excellent,M,"27.5""",Carbon,150,150,2950,USD,NaN
3,Kona Honzo ST,Excellent,XL,"29""",Steel,140,0,2500,CAD,NaN
4,Intense Primer 275 Medium Blue Expert,New,Wheel,Material:,"29""",Front,Rear,3799,USD,NaN

In [8]:
def Check_Material(string):
    if string == 'Aluminium' or string == 'Carbon Fiber' or string == 'Chromoly' or string== 'Steel' or string =='Titanium':
        return True
    else:
        return False
    
def convert_wheel_string(input_string):
    if input_string == '29"':
        return 29
    elif input_string == '27.5"':
        return 27.5
def convert_string_flt(input_string):
    nums = '1234567890.'
    string = ''
    for char in input_string:
        if char in nums:
            string+= char
    return float(string)

def check_rear_string(x):
    if len(x)>3:
        return True
    else:
        return False
def rear_travel_clean(x):
    if x =="Travel:":
        return False
    else:
        return True

In [9]:
df1.head()

,Title,Condition,Size,Wheel_Size,Material,Front_travel,Rear_travel,Price,Currance,Unnamed: 9
0,NS Carbon Define 130/150 Size Medium,Excellent,M,"29""",Carbon,160,155,4600,USD,NaN
1,Santa Cruz Tallboy A D build Large,Excellent,L,"29""",Aluminium,120,110,1800,USD,NaN
2,Santa Cruz Bronson C medium,Excellent,M,"27.5""",Carbon,150,150,2950,USD,NaN
3,Kona Honzo ST,Excellent,XL,"29""",Steel,140,0,2500,CAD,NaN
4,Intense Primer 275 Medium Blue Expert,New,Wheel,Material:,"29""",Front,Rear,3799,USD,NaN

In [10]:
df1.drop(axis = 1,labels = 'Unnamed: 9',inplace=True)

In [11]:
df1 = df1[df1['Material'].apply(lambda x : Check_Material(x))].copy()

In [12]:
df1.head()

,Title,Condition,Size,Wheel_Size,Material,Front_travel,Rear_travel,Price,Currance
1,Santa Cruz Tallboy A D build Large,Excellent,L,"29""",Aluminium,120,110,1800,USD
3,Kona Honzo ST,Excellent,XL,"29""",Steel,140,0,2500,CAD
5,Norco Sight A1,Excellent,L,"29""",Aluminium,160,150,5200,CAD
9,Transition Sentinel GX Alloy Large w/ 210mm Dr...,Good,L,"29""",Aluminium,160,140,2900,USD
10,NS Eccentric Chromo - Medium,Good,M,"29""",Chromoly,150,0,1600,USD

In [13]:
df1['Wheel_Size'] = df1['Wheel_Size'].apply(lambda x : convert_wheel_string(x))

In [14]:
df1['Front_travel'] = df1['Front_travel'].apply(convert_string_flt)

In [15]:
df1 = df1[df1['Rear_travel'].apply(rear_travel_clean)]
df1['Rear_travel'] = df1['Rear_travel'].apply(convert_string_flt)

In [16]:
df1['Price'] = df1['Price'].apply(convert_string_flt)

In [18]:
def check_currancy(price,currancy,exch_rate=.74):
    if currancy == 'CAD':
        return price*exch_rate
    else:
        return price

SyntaxError: invalid syntax (<ipython-input-18-64d64a50e264>, line 2)

In [ ]:
df1.head()

In [ ]:
df2.head(50)