In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv('../data/data_work.csv')
df2 = pd.read_csv('../data/data_work_2.csv')

In [ ]:
df1.info()

In [ ]:
df2.info()

In [ ]:
df1.head()

In [3]:
def Check_Material(string):
    if string == 'Aluminium' or string == 'Carbon Fiber' or string == 'Chromoly' or string== 'Steel' or string =='Titanium':
        return True
    else:
        return False
    
def convert_wheel_string(input_string):
    if input_string == '29"':
        return 29
    elif input_string == '27.5"':
        return 27.5
def convert_string_flt(input_string):
    nums = '1234567890.'
    string = ''
    for char in input_string:
        if char in nums:
            string+= char
    return float(string)

def check_rear_string(x):
    if len(x)>3:
        return True
    else:
        return False
def rear_travel_clean(x):
    if x =="Travel:":
        return False
    else:
        return True

In [4]:
df1.drop(axis = 1,labels = 'Unnamed: 9',inplace=True)

In [5]:
df1 = df1[df1['Material'].apply(lambda x : Check_Material(x))].copy()

In [6]:
df1['Wheel_Size'] = df1['Wheel_Size'].apply(lambda x : convert_wheel_string(x))

In [7]:
df1['Front_travel'] = df1['Front_travel'].apply(convert_string_flt)

In [8]:
df1 = df1[df1['Rear_travel'].apply(rear_travel_clean)]
df1['Rear_travel'] = df1['Rear_travel'].apply(convert_string_flt)

In [9]:
df1['Price'] = df1['Price'].apply(convert_string_flt)

In [10]:
def check_currancy(price,currancy,exch_rate=.74):
    if currancy == 'CAD':
        return price*exch_rate
    else:
        return price

In [12]:
df1['Price']=df1[['Price','Currance']].apply(lambda x: check_currancy(x.Price,x.Currance),axis=1)

In [ ]:
df2.loc[0,'Wheel Size']

In [11]:
def clean_wheel_size_df2(string):
    if string == '29':
        return 29.0
    elif string == '275  650B':
        return 27.5
    else:
        return string

In [13]:
df2['Wheel Size'] = df2["Wheel Size"].apply(clean_wheel_size_df2)

In [ ]:
type(df2.loc[0,'Wheel Size'])

In [ ]:
df2.head()

In [14]:
df2['Front Travel']=df2['Front Travel'].apply(convert_string_flt)

In [15]:
df2['Rear Travel']=df2['Rear Travel'].apply(convert_string_flt)

In [16]:
def return_curr(string):
    if 'USD' in string:
        return 'USD'
    elif 'CAD' in string:
        return 'CAD'

In [17]:
df2['Currance'] = df2['Price'].apply(return_curr)

In [ ]:
df2.info()

In [18]:
def remove_other_wheels(obj):
    if type(obj)== float:
        return True
    else:
        return False

In [19]:
df2 = df2[df2['Wheel Size'].apply(remove_other_wheels)]

In [ ]:
df2.info()

In [20]:
def remove_resonable_trades(input_string):
    if 'CAD' in input_string or 'USD' in input_string:
        return True
    else:
        return False

In [21]:
df2 = df2[df2['Price'].apply(lambda x : remove_resonable_trades(x))]

In [ ]:
df2.info()

In [22]:
df2['Price'] = df2['Price'].apply(convert_string_flt)

In [ ]:
df2.head()

In [23]:
df2['Price']=df2[['Price','Currance']].apply(lambda x: check_currancy(x['Price'],x['Currance']),axis=1)

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3307 entries, 0 to 3671
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         3307 non-null   object
 1   Condition     3307 non-null   object
 2   Frame Size    3307 non-null   object
 3   Wheel Size    3307 non-null   object
 4   Material      3307 non-null   object
 5   Front Travel  3307 non-null   float64
 6   Rear Travel   3307 non-null   float64
 7   Price         3307 non-null   float64
 8   Currance      3307 non-null   object
dtypes: float64(3), object(6)
memory usage: 258.4+ KB

In [ ]:
df1.head()

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 616 entries, 1 to 2741
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         616 non-null    object
 1   Condition     616 non-null    object
 2   Size          616 non-null    object
 3   Wheel_Size    616 non-null    float64
 4   Material      616 non-null    object
 5   Front_travel  616 non-null    float64
 6   Rear_travel   616 non-null    float64
 7   Price         616 non-null    float64
 8   Currance      616 non-null    object
dtypes: float64(4), object(5)
memory usage: 48.1+ KB

In [26]:
df = pd.concat([df1,df2])

In [29]:
df.head()

,Title,Condition,Size,Wheel_Size,Material,Front_travel,Rear_travel,Price,Currance,Frame Size,Wheel Size,Front Travel,Rear Travel
1,Santa Cruz Tallboy A D build Large,Excellent,L,29.0,Aluminium,120.0,110.0,1800.0,USD,NaN,NaN,NaN,NaN
3,Kona Honzo ST,Excellent,XL,29.0,Steel,140.0,0.0,1850.0,CAD,NaN,NaN,NaN,NaN
5,Norco Sight A1,Excellent,L,29.0,Aluminium,160.0,150.0,3848.0,CAD,NaN,NaN,NaN,NaN
9,Transition Sentinel GX Alloy Large w/ 210mm Dr...,Good,L,29.0,Aluminium,160.0,140.0,2900.0,USD,NaN,NaN,NaN,NaN
10,NS Eccentric Chromo - Medium,Good,M,29.0,Chromoly,150.0,0.0,1600.0,USD,NaN,NaN,NaN,NaN

In [31]:
df2.columns

Index(['Title', 'Condition', 'Frame Size', 'Wheel Size', 'Material',
       'Front Travel', 'Rear Travel', 'Price', 'Currance'],
      dtype='object')

In [32]:
df1.columns

Index(['Title', 'Condition', 'Size', 'Wheel_Size', 'Material', 'Front_travel',
       'Rear_travel', 'Price', 'Currance'],
      dtype='object')

In [ ]:
df2.rename(columns={'Frame'})