In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df1 = pd.read_csv('../data/data_work.csv')
df2 = pd.read_csv('../data/data_work_2.csv')

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2744 entries, 0 to 2743
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         2744 non-null   object
 1   Condition     2744 non-null   object
 2   Size          2744 non-null   object
 3   Wheel_Size    2744 non-null   object
 4   Material      2744 non-null   object
 5   Front_travel  2744 non-null   object
 6   Rear_travel   2744 non-null   object
 7   Price         2744 non-null   object
 8   Currance      2744 non-null   object
 9   Unnamed: 9    1 non-null      object
dtypes: object(10)
memory usage: 214.5+ KB

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3672 entries, 0 to 3671
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         3672 non-null   object
 1   Condition     3672 non-null   object
 2   Frame Size    3672 non-null   object
 3   Wheel Size    3672 non-null   object
 4   Material      3672 non-null   object
 5   Front Travel  3672 non-null   object
 6   Rear Travel   3672 non-null   object
 7   Price         3672 non-null   object
dtypes: object(8)
memory usage: 229.6+ KB

In [7]:
df1.head()

,Title,Condition,Size,Wheel_Size,Material,Front_travel,Rear_travel,Price,Currance,Unnamed: 9
0,NS Carbon Define 130/150 Size Medium,Excellent,M,"29""",Carbon,160,155,4600,USD,NaN
1,Santa Cruz Tallboy A D build Large,Excellent,L,"29""",Aluminium,120,110,1800,USD,NaN
2,Santa Cruz Bronson C medium,Excellent,M,"27.5""",Carbon,150,150,2950,USD,NaN
3,Kona Honzo ST,Excellent,XL,"29""",Steel,140,0,2500,CAD,NaN
4,Intense Primer 275 Medium Blue Expert,New,Wheel,Material:,"29""",Front,Rear,3799,USD,NaN

In [8]:
def Check_Material(string):
    if string == 'Aluminium' or string == 'Carbon Fiber' or string == 'Chromoly' or string== 'Steel' or string =='Titanium':
        return True
    else:
        return False
    
def convert_wheel_string(input_string):
    if input_string == '29"':
        return 29
    elif input_string == '27.5"':
        return 27.5
def convert_string_flt(input_string):
    nums = '1234567890.'
    string = ''
    for char in input_string:
        if char in nums:
            string+= char
    return float(string)

def check_rear_string(x):
    if len(x)>3:
        return True
    else:
        return False
def rear_travel_clean(x):
    if x =="Travel:":
        return False
    else:
        return True

In [9]:
df1.head()

,Title,Condition,Size,Wheel_Size,Material,Front_travel,Rear_travel,Price,Currance,Unnamed: 9
0,NS Carbon Define 130/150 Size Medium,Excellent,M,"29""",Carbon,160,155,4600,USD,NaN
1,Santa Cruz Tallboy A D build Large,Excellent,L,"29""",Aluminium,120,110,1800,USD,NaN
2,Santa Cruz Bronson C medium,Excellent,M,"27.5""",Carbon,150,150,2950,USD,NaN
3,Kona Honzo ST,Excellent,XL,"29""",Steel,140,0,2500,CAD,NaN
4,Intense Primer 275 Medium Blue Expert,New,Wheel,Material:,"29""",Front,Rear,3799,USD,NaN

In [10]:
df1.drop(axis = 1,labels = 'Unnamed: 9',inplace=True)

In [11]:
df1 = df1[df1['Material'].apply(lambda x : Check_Material(x))].copy()

In [12]:
df1.head()

,Title,Condition,Size,Wheel_Size,Material,Front_travel,Rear_travel,Price,Currance
1,Santa Cruz Tallboy A D build Large,Excellent,L,"29""",Aluminium,120,110,1800,USD
3,Kona Honzo ST,Excellent,XL,"29""",Steel,140,0,2500,CAD
5,Norco Sight A1,Excellent,L,"29""",Aluminium,160,150,5200,CAD
9,Transition Sentinel GX Alloy Large w/ 210mm Dr...,Good,L,"29""",Aluminium,160,140,2900,USD
10,NS Eccentric Chromo - Medium,Good,M,"29""",Chromoly,150,0,1600,USD

In [13]:
df1['Wheel_Size'] = df1['Wheel_Size'].apply(lambda x : convert_wheel_string(x))

In [14]:
df1['Front_travel'] = df1['Front_travel'].apply(convert_string_flt)

In [15]:
df1 = df1[df1['Rear_travel'].apply(rear_travel_clean)]
df1['Rear_travel'] = df1['Rear_travel'].apply(convert_string_flt)

In [16]:
df1['Price'] = df1['Price'].apply(convert_string_flt)

In [32]:
def check_currancy(price,currancy,exch_rate=.74):
    if currancy == 'CAD':
        return price*exch_rate
    else:
        return price

In [36]:
df_test = df1[["Price","Currance"]]

In [45]:
df_test.iloc[0]

Price       1800
Currance     USD
Name: 1, dtype: object

In [49]:
df1.columns

Index(['Title', 'Condition', 'Size', 'Wheel_Size', 'Material', 'Front_travel',
       'Rear_travel', 'Price', 'Currance'],
      dtype='object')

In [62]:
df1[['Price','Currance']].apply(lambda x: print(x[0]),axis=1)

Price       1800
Currance     USD
Name: 1, dtype: object
Price       2500
Currance     CAD
Name: 3, dtype: object
Price       5200
Currance     CAD
Name: 5, dtype: object
Price       2900
Currance     USD
Name: 9, dtype: object
Price       1600
Currance     USD
Name: 10, dtype: object
Price       650
Currance    CAD
Name: 14, dtype: object
Price       2800
Currance     CAD
Name: 17, dtype: object
Price       2700
Currance     USD
Name: 22, dtype: object
Price       2700
Currance     USD
Name: 27, dtype: object
Price       2000
Currance     USD
Name: 28, dtype: object
Price       2100
Currance     USD
Name: 30, dtype: object
Price       3100
Currance     CAD
Name: 34, dtype: object
Price       1000
Currance     USD
Name: 42, dtype: object
Price       3000
Currance     CAD
Name: 43, dtype: object
Price       3000
Currance     CAD
Name: 44, dtype: object
Price       3000
Currance     CAD
Name: 45, dtype: object
Price       2200
Currance     CAD
Name: 46, dtype: object
Price       650
Currance    USD
Name: 47, dtype: object
Price       1800
Currance     USD
Name: 49, dtype: object
Price       2200
Currance     USD
Name: 50, dtype: object
Price       2299
Currance     USD
Name: 54, dtype: object
Price       1500
Currance     USD
Name: 55, dtype: object
Price       1600
Currance     USD
Name: 57, dtype: object
Price       2000
Currance     USD
Name: 60, dtype: object
Price       4600
Currance     CAD
Name: 63, dtype: object
Price       2799
Currance     CAD
Name: 70, dtype: object
Price       2000
Currance     USD
Name: 75, dtype: object
Price       3000
Currance     USD
Name: 79, dtype: object
Price       3000
Currance     USD
Name: 80, dtype: object
Price       1100
Currance     USD
Name: 87, dtype: object
Price       1400
Currance     USD
Name: 92, dtype: object
Price       2850
Currance     USD
Name: 108, dtype: object
Price       2500
Currance     USD
Name: 112, dtype: object
Price       4100
Currance     CAD
Name: 114, dtype: object
Price       4000
Currance     CAD
Name: 125, dtype: object
Price       3300
Currance     USD
Name: 132, dtype: object
Price       3900
Currance     USD
Name: 133, dtype: object
Price       2999
Currance     USD
Name: 136, dtype: object
Price       1700
Currance     USD
Name: 147, dtype: object
Price       3100
Currance     USD
Name: 150, dtype: object
Price       2500
Currance     USD
Name: 153, dtype: object
Price       2900
Currance     USD
Name: 156, dtype: object
Price       3500
Currance     USD
Name: 161, dtype: object
Price       500
Currance    USD
Name: 165, dtype: object
Price       4500
Currance     USD
Name: 166, dtype: object
Price       300
Currance    USD
Name: 182, dtype: object
Price       3000
Currance     USD
Name: 183, dtype: object
Price       4500
Currance     CAD
Name: 186, dtype: object
Price       6500
Currance     CAD
Name: 190, dtype: object
Price       1300
Currance     USD
Name: 199, dtype: object
Price       2750
Currance     USD
Name: 218, dtype: object
Price       3000
Currance     USD
Name: 226, dtype: object
Price       3000
Currance     USD
Name: 235, dtype: object
Price       2750
Currance     USD
Name: 236, dtype: object
Price       2650
Currance     USD
Name: 237, dtype: object
Price       5300
Currance     USD
Name: 238, dtype: object
Price       2400
Currance     USD
Name: 243, dtype: object
Price       2650
Currance     CAD
Name: 248, dtype: object
Price       2600
Currance     USD
Name: 251, dtype: object
Price       2800
Currance     USD
Name: 266, dtype: object
Price       2500
Currance     USD
Name: 268, dtype: object
Price       1150
Currance     USD
Name: 286, dtype: object
Price       1600
Currance     USD
Name: 289, dtype: object
Price       2950
Currance     USD
Name: 290, dtype: object
Price       2200
Currance     USD
Name: 296, dtype: object
Price       1900
Currance     USD
Name: 306, dtype: object
Price       2000
Currance     USD
Name: 308, dtype: object
Price       1300
Currance     USD
Name: 310, dtype: object
Price       1600
Currance     CAD
Name: 315, dtype: object
Price       4700
Currance     CAD
Name: 317, dtype: object
Price       2900
Currance     USD
Name: 318, dtype: object
Price       2900
Currance     USD
Name: 320, dtype: object
Price       3200
Currance     CAD
Name: 322, dtype: object
Price       3600
Currance     CAD
Name: 325, dtype: object
Price       3100
Currance     CAD
Name: 332, dtype: object
Price       1150
Currance     CAD
Name: 336, dtype: object
Price       2750
Currance     CAD
Name: 344, dtype: object
Price       2400
Currance     USD
Name: 345, dtype: object
Price       1499
Currance     USD
Name: 350, dtype: object
Price       1500
Currance     USD
Name: 351, dtype: object
Price       3000
Currance     CAD
Name: 356, dtype: object
Price       1850
Currance     USD
Name: 358, dtype: object
Price       2000
Currance     CAD
Name: 363, dtype: object
Price       3700
Currance     CAD
Name: 365, dtype: object
Price       5200
Currance     USD
Name: 369, dtype: object
Price       2400
Currance     USD
Name: 370, dtype: object
Price       2550
Currance     CAD
Name: 372, dtype: object
Price       1350
Currance     USD
Name: 375, dtype: object
Price       1350
Currance     USD
Name: 376, dtype: object
Price       1350
Currance     USD
Name: 383, dtype: object
Price       1234
Currance     CAD
Name: 385, dtype: object
Price       2000
Currance     CAD
Name: 390, dtype: object
Price       2500
Currance     CAD
Name: 392, dtype: object
Price       2700
Currance     USD
Name: 393, dtype: object
Price       3500
Currance     CAD
Name: 395, dtype: object
Price         1
Currance    CAD
Name: 400, dtype: object
Price       1800
Currance     USD
Name: 401, dtype: object
Price       2780
Currance     USD
Name: 407, dtype: object
Price       1100
Currance     USD
Name: 410, dtype: object
Price       2000
Currance     USD
Name: 411, dtype: object
Price       1550
Currance     CAD
Name: 412, dtype: object
Price       3500
Currance     CAD
Name: 413, dtype: object
Price       3600
Currance     CAD
Name: 425, dtype: object
Price       2600
Currance     CAD
Name: 433, dtype: object
Price       2200
Currance     CAD
Name: 434, dtype: object
Price       3700
Currance     USD
Name: 435, dtype: object
Price       2500
Currance     CAD
Name: 439, dtype: object
Price       2200
Currance     USD
Name: 444, dtype: object
Price       950
Currance    USD
Name: 447, dtype: object
Price       3000
Currance     CAD
Name: 448, dtype: object
Price       2450
Currance     USD
Name: 449, dtype: object
Price       2500
Currance     USD
Name: 450, dtype: object
Price       3200
Currance     CAD
Name: 453, dtype: object
Price       1950
Currance     USD
Name: 455, dtype: object
Price       800
Currance    CAD
Name: 458, dtype: object
Price       800
Currance    CAD
Name: 460, dtype: object
Price       4000
Currance     USD
Name: 464, dtype: object
Price       2700
Currance     USD
Name: 468, dtype: object
Price       1900
Currance     CAD
Name: 470, dtype: object
Price       3700
Currance     USD
Name: 472, dtype: object
Price       3200
Currance     USD
Name: 473, dtype: object
Price       1900
Currance     USD
Name: 479, dtype: object
Price       4450
Currance     CAD
Name: 481, dtype: object
Price       2800
Currance     USD
Name: 485, dtype: object
Price       2000
Currance     USD
Name: 487, dtype: object
Price       4500
Currance     USD
Name: 493, dtype: object
Price       2500
Currance     USD
Name: 494, dtype: object
Price       3100
Currance     USD
Name: 496, dtype: object
Price       2800
Currance     USD
Name: 501, dtype: object
Price       1200
Currance     USD
Name: 504, dtype: object
Price       2000
Currance     USD
Name: 506, dtype: object
Price       3200
Currance     CAD
Name: 511, dtype: object
Price       3600
Currance     CAD
Name: 514, dtype: object
Price       1200
Currance     USD
Name: 518, dtype: object
Price       1200
Currance     USD
Name: 520, dtype: object
Price       1750
Currance     USD
Name: 522, dtype: object
Price       2200
Currance     USD
Name: 525, dtype: object
Price       3800
Currance     USD
Name: 526, dtype: object
Price       2500
Currance     USD
Name: 531, dtype: object
Price       2500
Currance     CAD
Name: 533, dtype: object
Price       1500
Currance     USD
Name: 534, dtype: object
Price       2800
Currance     USD
Name: 535, dtype: object
Price       4450
Currance     CAD
Name: 536, dtype: object
Price       4000
Currance     USD
Name: 539, dtype: object
Price       5000
Currance     USD
Name: 547, dtype: object
Price       1300
Currance     USD
Name: 552, dtype: object
Price       2700
Currance     USD
Name: 556, dtype: object
Price       2000
Currance     USD
Name: 557, dtype: object
Price       1900
Currance     USD
Name: 558, dtype: object
Price       4600
Currance     CAD
Name: 560, dtype: object
Price       2200
Currance     CAD
Name: 562, dtype: object
Price       2500
Currance     USD
Name: 563, dtype: object
Price       1900
Currance     USD
Name: 568, dtype: object
Price       2900
Currance     CAD
Name: 574, dtype: object
Price       2600
Currance     USD
Name: 575, dtype: object
Price       2600
Currance     USD
Name: 577, dtype: object
Price       4199
Currance     CAD
Name: 584, dtype: object
Price       12345
Currance      USD
Name: 587, dtype: object
Price       1000
Currance     USD
Name: 591, dtype: object
Price       3000
Currance     CAD
Name: 592, dtype: object
Price       3400
Currance     USD
Name: 593, dtype: object
Price       2400
Currance     USD
Name: 596, dtype: object
Price       3000
Currance     USD
Name: 598, dtype: object
Price       2100
Currance     USD
Name: 599, dtype: object
Price       2100
Currance     USD
Name: 600, dtype: object
Price       3000
Currance     CAD
Name: 612, dtype: object
Price       1200
Currance     USD
Name: 614, dtype: object
Price       3400
Currance     USD
Name: 615, dtype: object
Price       1300
Currance     USD
Name: 629, dtype: object
Price       2500
Currance     CAD
Name: 635, dtype: object
Price       3900
Currance     CAD
Name: 640, dtype: object
Price       1400
Currance     USD
Name: 641, dtype: object
Price       2800
Currance     USD
Name: 642, dtype: object
Price       3800
Currance     USD
Name: 645, dtype: object
Price       3100
Currance     USD
Name: 649, dtype: object
Price       4999
Currance     USD
Name: 650, dtype: object
Price       5000
Currance     USD
Name: 658, dtype: object
Price       3000
Currance     USD
Name: 671, dtype: object
Price       2999
Currance     USD
Name: 672, dtype: object
Price       1950
Currance     USD
Name: 673, dtype: object
Price       3000
Currance     CAD
Name: 676, dtype: object
Price       1450
Currance     CAD
Name: 680, dtype: object
Price       3200
Currance     USD
Name: 687, dtype: object
Price       800
Currance    USD
Name: 690, dtype: object
Price       1200
Currance     USD
Name: 691, dtype: object
Price       1000
Currance     USD
Name: 699, dtype: object
Price       3000
Currance     USD
Name: 705, dtype: object
Price       2500
Currance     USD
Name: 708, dtype: object
Price       3500
Currance     CAD
Name: 710, dtype: object
Price       700
Currance    USD
Name: 711, dtype: object
Price       2300
Currance     USD
Name: 713, dtype: object
Price       1800
Currance     USD
Name: 714, dtype: object
Price       3700
Currance     CAD
Name: 721, dtype: object
Price       4100
Currance     CAD
Name: 726, dtype: object
Price       4000
Currance     USD
Name: 730, dtype: object
Price       4000
Currance     USD
Name: 738, dtype: object
Price       2700
Currance     USD
Name: 743, dtype: object
Price       1500
Currance     USD
Name: 746, dtype: object
Price       1234
Currance     CAD
Name: 747, dtype: object
Price       2200
Currance     USD
Name: 751, dtype: object
Price       2900
Currance     CAD
Name: 755, dtype: object
Price       2000
Currance     USD
Name: 767, dtype: object
Price       600
Currance    USD

Name: 768, dtype: object
Price       2300
Currance     USD
Name: 769, dtype: object
Price       1500
Currance     CAD
Name: 776, dtype: object
Price       2500
Currance     USD
Name: 777, dtype: object
Price       2300
Currance     USD
Name: 778, dtype: object
Price       2000
Currance     USD
Name: 780, dtype: object
Price       5000
Currance     USD
Name: 785, dtype: object
Price        35
Currance    USD
Name: 791, dtype: object
Price       3800
Currance     USD
Name: 793, dtype: object
Price       2000
Currance     USD
Name: 799, dtype: object
Price       2400
Currance     USD
Name: 807, dtype: object
Price       1125
Currance     CAD
Name: 815, dtype: object
Price       3390
Currance     USD
Name: 822, dtype: object
Price       2300
Currance     USD
Name: 824, dtype: object
Price       3000
Currance     USD
Name: 827, dtype: object
Price       2200
Currance     USD
Name: 832, dtype: object
Price       2000
Currance     CAD
Name: 833, dtype: object
Price       4000
Currance     CAD
Name: 834, dtype: object
Price       2600
Currance     USD
Name: 835, dtype: object
Price       3000
Currance     CAD
Name: 856, dtype: object
Price       1699
Currance     USD
Name: 857, dtype: object
Price       2800
Currance     USD
Name: 859, dtype: object
Price       4000
Currance     CAD
Name: 861, dtype: object
Price       2200
Currance     USD
Name: 862, dtype: object
Price       850
Currance    CAD
Name: 872, dtype: object
Price       3800
Currance     CAD
Name: 873, dtype: object
Price       1800
Currance     USD
Name: 875, dtype: object
Price       2200
Currance     USD
Name: 878, dtype: object
Price       4500
Currance     USD
Name: 881, dtype: object
Price       1800
Currance     USD
Name: 885, dtype: object
Price       3400
Currance     CAD
Name: 890, dtype: object
Price       2000
Currance     USD
Name: 900, dtype: object
Price       2500
Currance     USD
Name: 906, dtype: object
Price       2500
Currance     USD
Name: 907, dtype: object
Price       1300
Currance     USD
Name: 920, dtype: object
Price       2200
Currance     USD
Name: 921, dtype: object
Price       1900
Currance     USD
Name: 922, dtype: object
Price       550
Currance    USD
Name: 925, dtype: object
Price       3350
Currance     USD
Name: 928, dtype: object
Price       629
Currance    CAD
Name: 930, dtype: object
Price       3250
Currance     USD
Name: 931, dtype: object
Price       2500
Currance     USD
Name: 934, dtype: object
Price       1800
Currance     EUR
Name: 939, dtype: object
Price       2300
Currance     USD
Name: 944, dtype: object
Price       4950
Currance     CAD
Name: 947, dtype: object
Price       10000
Currance      CAD
Name: 948, dtype: object
Price       1800
Currance     USD
Name: 950, dtype: object
Price       1800
Currance     USD
Name: 951, dtype: object
Price       1900
Currance     USD
Name: 952, dtype: object
Price       3500
Currance     CAD
Name: 957, dtype: object
Price       1400
Currance     USD
Name: 960, dtype: object
Price       2000
Currance     USD
Name: 969, dtype: object
Price       1750
Currance     USD
Name: 977, dtype: object
Price       3000
Currance     USD
Name: 982, dtype: object
Price       2000
Currance     USD
Name: 990, dtype: object
Price       2980
Currance     CAD
Name: 993, dtype: object
Price         1
Currance    USD
Name: 995, dtype: object
Price       1000
Currance     USD
Name: 996, dtype: object
Price       1000
Currance     USD
Name: 997, dtype: object
Price       2100
Currance     USD
Name: 998, dtype: object
Price       1050
Currance     CAD
Name: 1005, dtype: object
Price       2600
Currance     CAD
Name: 1008, dtype: object
Price       5000
Currance     USD
Name: 1014, dtype: object
Price       2950
Currance     CAD
Name: 1017, dtype: object
Price       2000
Currance     USD
Name: 1018, dtype: object
Price       3400
Currance     CAD
Name: 1020, dtype: object
Price       700
Currance    USD
Name: 1021, dtype: object
Price         1
Currance    USD
Name: 1037, dtype: object
Price       100
Currance    CAD
Name: 1041, dtype: object
Price       3000
Currance     USD
Name: 1044, dtype: object
Price         1
Currance    USD
Name: 1055, dtype: object
Price       2299
Currance     USD
Name: 1056, dtype: object
Price       3000
Currance     CAD
Name: 1057, dtype: object
Price       3300
Currance     USD
Name: 1058, dtype: object
Price       2000
Currance     USD
Name: 1061, dtype: object
Price       3900
Currance     USD
Name: 1062, dtype: object
Price       3000
Currance     USD
Name: 1063, dtype: object
Price       2300
Currance     USD
Name: 1068, dtype: object
Price       5100
Currance     USD
Name: 1075, dtype: object
Price       1125
Currance     CAD
Name: 1078, dtype: object
Price       2500
Currance     CAD
Name: 1082, dtype: object
Price       2400
Currance     USD
Name: 1089, dtype: object
Price       2450
Currance     CAD
Name: 1090, dtype: object
Price         1
Currance    CAD
Name: 1095, dtype: object
Price         1
Currance    CAD
Name: 1097, dtype: object
Price       2600
Currance     USD
Name: 1104, dtype: object
Price       2200
Currance     CAD
Name: 1117, dtype: object
Price       3900
Currance     USD
Name: 1119, dtype: object
Price       3500
Currance     USD
Name: 1124, dtype: object
Price       1000
Currance     USD
Name: 1127, dtype: object
Price       1234
Currance     CAD
Name: 1128, dtype: object
Price       5650
Currance     CAD
Name: 1140, dtype: object
Price       2000
Currance     USD
Name: 1144, dtype: object
Price       3000
Currance     USD
Name: 1148, dtype: object
Price       2100
Currance     USD
Name: 1153, dtype: object
Price       2500
Currance     CAD
Name: 1160, dtype: object
Price       3000
Currance     USD
Name: 1162, dtype: object
Price       2700
Currance     USD
Name: 1170, dtype: object
Price       1200
Currance     USD
Name: 1172, dtype: object
Price       1800
Currance     USD
Name: 1181, dtype: object
Price       2800
Currance     USD
Name: 1184, dtype: object
Price       1700
Currance     CAD
Name: 1185, dtype: object
Price       2700
Currance     CAD
Name: 1189, dtype: object
Price       3000
Currance     USD
Name: 1195, dtype: object
Price       2600
Currance     USD
Name: 1202, dtype: object
Price       2000
Currance     USD
Name: 1206, dtype: object
Price       3500
Currance     CAD
Name: 1207, dtype: object
Price       3490
Currance     CAD
Name: 1215, dtype: object
Price       2000
Currance     USD
Name: 1218, dtype: object
Price       2000
Currance     USD
Name: 1224, dtype: object
Price       2799
Currance     USD
Name: 1226, dtype: object
Price       2750
Currance     USD
Name: 1234, dtype: object
Price       1750
Currance     USD
Name: 1235, dtype: object
Price       4200
Currance     USD
Name: 1236, dtype: object
Price       999999
Currance       CAD
Name: 1238, dtype: object
Price       2100
Currance     CAD
Name: 1239, dtype: object
Price       900
Currance    USD
Name: 1243, dtype: object
Price       4800
Currance     CAD
Name: 1245, dtype: object
Price       4500
Currance     USD
Name: 1246, dtype: object
Price       2700
Currance     USD
Name: 1260, dtype: object
Price       3000
Currance     USD
Name: 1264, dtype: object
Price       650
Currance    CAD
Name: 1273, dtype: object
Price       2400
Currance     USD
Name: 1275, dtype: object
Price       2900
Currance     USD
Name: 1287, dtype: object
Price       2000
Currance     USD
Name: 1288, dtype: object
Price       2399
Currance     USD
Name: 1289, dtype: object
Price       2999
Currance     USD
Name: 1292, dtype: object
Price       3899
Currance     USD
Name: 1299, dtype: object
Price       4000
Currance     USD
Name: 1314, dtype: object
Price       4000
Currance     USD
Name: 1319, dtype: object
Price       475
Currance    USD
Name: 1331, dtype: object
Price       2700
Currance     CAD
Name: 1333, dtype: object
Price       2750
Currance     CAD
Name: 1335, dtype: object
Price       2500
Currance     USD
Name: 1336, dtype: object
Price       3000
Currance     USD
Name: 1339, dtype: object
Price       450
Currance    CAD
Name: 1342, dtype: object
Price       2500
Currance     CAD
Name: 1347, dtype: object
Price       3600
Currance     USD
Name: 1348, dtype: object
Price       2100
Currance     CAD
Name: 1349, dtype: object
Price       2000
Currance     USD
Name: 1367, dtype: object
Price       1250
Currance     USD
Name: 1369, dtype: object
Price       2100
Currance     USD
Name: 1370, dtype: object
Price       1200
Currance     USD
Name: 1372, dtype: object
Price       2000
Currance     USD
Name: 1374, dtype: object
Price       2600
Currance     USD
Name: 1377, dtype: object
Price       2900
Currance     USD
Name: 1381, dtype: object
Price       4000
Currance     CAD
Name: 1392, dtype: object
Price       1000
Currance     CAD
Name: 1395, dtype: object
Price       3000
Currance     CAD
Name: 1399, dtype: object
Price       700
Currance    USD
Name: 1408, dtype: object
Price       2650
Currance     USD
Name: 1422, dtype: object
Price       4600
Currance     CAD
Name: 1434, dtype: object
Price       4999
Currance     USD
Name: 1445, dtype: object
Price       1700
Currance     USD
Name: 1448, dtype: object
Price       2900
Currance     USD
Name: 1463, dtype: object
Price       2900
Currance     USD
Name: 1464, dtype: object
Price       2400
Currance     CAD
Name: 1479, dtype: object
Price       1400
Currance     USD
Name: 1482, dtype: object
Price       2200
Currance     USD
Name: 1510, dtype: object
Price       3999
Currance     USD
Name: 1520, dtype: object
Price       4000
Currance     CAD
Name: 1525, dtype: object
Price       800
Currance    USD
Name: 1529, dtype: object
Price       1990
Currance     USD
Name: 1531, dtype: object
Price       4250
Currance     USD
Name: 1533, dtype: object
Price       2650
Currance     USD
Name: 1537, dtype: object
Price       2700
Currance     USD
Name: 1540, dtype: object
Price       2000
Currance     USD
Name: 1541, dtype: object
Price       3100
Currance     CAD
Name: 1542, dtype: object
Price         1
Currance    USD
Name: 1548, dtype: object
Price       1999
Currance     USD
Name: 1563, dtype: object
Price       1999
Currance     USD
Name: 1564, dtype: object
Price       1400
Currance     USD
Name: 1577, dtype: object
Price       1200
Currance     USD
Name: 1579, dtype: object
Price       2700
Currance     CAD
Name: 1582, dtype: object
Price       2900
Currance     USD
Name: 1583, dtype: object
Price       4450
Currance     CAD
Name: 1592, dtype: object
Price       3700
Currance     CAD
Name: 1594, dtype: object
Price       3350
Currance     USD
Name: 1596, dtype: object
Price       950
Currance    CAD
Name: 1602, dtype: object
Price       1800
Currance     USD
Name: 1605, dtype: object
Price       400
Currance    USD
Name: 1606, dtype: object
Price       800
Currance    USD
Name: 1607, dtype: object
Price       2850
Currance     USD
Name: 1623, dtype: object
Price       2000
Currance     USD
Name: 1625, dtype: object
Price       3200
Currance     USD
Name: 1631, dtype: object
Price       3500
Currance     CAD
Name: 1632, dtype: object
Price       3900
Currance     USD
Name: 1640, dtype: object
Price       4500
Currance     USD
Name: 1651, dtype: object
Price       2800
Currance     CAD
Name: 1654, dtype: object
Price       3000
Currance     USD
Name: 1661, dtype: object
Price       1700
Currance     USD
Name: 1676, dtype: object
Price       3999
Currance     USD
Name: 1677, dtype: object
Price       900
Currance    USD
Name: 1681, dtype: object
Price       2100
Currance     USD
Name: 1690, dtype: object
Price       2750
Currance     CAD
Name: 1692, dtype: object
Price       3500
Currance     CAD
Name: 1693, dtype: object
Price       2300
Currance     USD
Name: 1694, dtype: object
Price       2200
Currance     USD
Name: 1696, dtype: object
Price       1300
Currance     CAD
Name: 1698, dtype: object
Price       4500
Currance     USD
Name: 1701, dtype: object
Price       500
Currance    CAD
Name: 1705, dtype: object
Price       2700
Currance     USD
Name: 1706, dtype: object
Price       2250
Currance     CAD
Name: 1710, dtype: object
Price       2200
Currance     USD
Name: 1715, dtype: object
Price       400
Currance    CAD
Name: 1716, dtype: object
Price       3300
Currance     USD
Name: 1717, dtype: object
Price       3000
Currance     USD
Name: 1721, dtype: object
Price       2000
Currance     USD
Name: 1732, dtype: object
Price       1800
Currance     USD
Name: 1742, dtype: object
Price       2500
Currance     CAD
Name: 1749, dtype: object
Price       2700
Currance     CAD
Name: 1755, dtype: object
Price       2700
Currance     USD
Name: 1761, dtype: object
Price       2900
Currance     USD
Name: 1767, dtype: object
Price       5100
Currance     CAD
Name: 1778, dtype: object
Price       3200
Currance     USD
Name: 1783, dtype: object
Price       900
Currance    CAD
Name: 1784, dtype: object
Price       2400
Currance     CAD
Name: 1786, dtype: object
Price       2849
Currance     USD
Name: 1790, dtype: object
Price       9500
Currance     USD
Name: 1792, dtype: object
Price       2500
Currance     USD
Name: 1793, dtype: object
Price       600
Currance    CAD
Name: 1796, dtype: object
Price       1850
Currance     USD
Name: 1797, dtype: object
Price       2800
Currance     CAD
Name: 1804, dtype: object
Price       2800
Currance     CAD
Name: 1805, dtype: object
Price       4150
Currance     CAD
Name: 1820, dtype: object
Price       2500
Currance     USD
Name: 1821, dtype: object
Price       2800
Currance     CAD
Name: 1828, dtype: object
Price       3450
Currance     CAD
Name: 1842, dtype: object
Price       3000
Currance     USD
Name: 1851, dtype: object
Price       2500
Currance     USD
Name: 1855, dtype: object
Price       2300
Currance     USD
Name: 1858, dtype: object
Price       4300
Currance     USD
Name: 1859, dtype: object
Price       1750
Currance     USD
Name: 1862, dtype: object
Price       4000
Currance     CAD
Name: 1866, dtype: object
Price       650
Currance    CAD
Name: 1867, dtype: object
Price       3200
Currance     CAD
Name: 1868, dtype: object
Price       2600
Currance     USD
Name: 1869, dtype: object
Price       3400
Currance     USD
Name: 1876, dtype: object
Price       3100
Currance     USD
Name: 1877, dtype: object
Price       2850
Currance     USD
Name: 1879, dtype: object
Price       2700
Currance     USD
Name: 1881, dtype: object
Price       2000
Currance     CAD
Name: 1887, dtype: object
Price       2000
Currance     USD
Name: 1893, dtype: object
Price       3500
Currance     USD
Name: 1896, dtype: object
Price       2500
Currance     USD
Name: 1897, dtype: object
Price       2500
Currance     CAD
Name: 1900, dtype: object
Price       2700
Currance     USD
Name: 1901, dtype: object
Price       2500
Currance     USD
Name: 1914, dtype: object
Price       3200
Currance     CAD
Name: 1917, dtype: object
Price       3500
Currance     CAD
Name: 1918, dtype: object
Price       3000
Currance     CAD
Name: 1932, dtype: object
Price       3500
Currance     USD
Name: 1954, dtype: object
Price       2500
Currance     USD
Name: 1968, dtype: object
Price       3000
Currance     USD
Name: 1969, dtype: object
Price       2800
Currance     CAD
Name: 1978, dtype: object
Price       1800
Currance     USD
Name: 1979, dtype: object
Price       3500
Currance     CAD
Name: 1981, dtype: object
Price       2800
Currance     USD
Name: 1992, dtype: object
Price       3600
Currance     CAD
Name: 1999, dtype: object
Price       2800
Currance     CAD
Name: 2001, dtype: object
Price       2500
Currance     USD
Name: 2007, dtype: object
Price       2100
Currance     CAD
Name: 2010, dtype: object
Price       3300
Currance     USD
Name: 2016, dtype: object
Price       2400
Currance     USD
Name: 2022, dtype: object
Price       2900
Currance     USD
Name: 2030, dtype: object
Price       3150
Currance     USD
Name: 2034, dtype: object
Price         1
Currance    USD
Name: 2042, dtype: object
Price       3300
Currance     CAD
Name: 2047, dtype: object
Price       3200
Currance     USD
Name: 2050, dtype: object
Price       5000
Currance     CAD
Name: 2055, dtype: object
Price       950
Currance    USD
Name: 2058, dtype: object
Price       3250
Currance     CAD
Name: 2064, dtype: object
Price       2400
Currance     CAD
Name: 2073, dtype: object
Price       3800
Currance     USD

Name: 2074, dtype: object
Price       2700
Currance     USD
Name: 2084, dtype: object
Price       2400
Currance     CAD
Name: 2086, dtype: object
Price       550
Currance    USD
Name: 2094, dtype: object
Price       3000
Currance     CAD
Name: 2097, dtype: object
Price       450
Currance    USD
Name: 2098, dtype: object
Price       1200
Currance     USD
Name: 2099, dtype: object
Price       2700
Currance     USD
Name: 2108, dtype: object
Price       100
Currance    USD
Name: 2115, dtype: object
Price       2900
Currance     USD
Name: 2119, dtype: object
Price       1700
Currance     USD
Name: 2122, dtype: object
Price       1700
Currance     USD
Name: 2123, dtype: object
Price       1700
Currance     USD
Name: 2124, dtype: object
Price       1000
Currance     USD
Name: 2126, dtype: object
Price       3000
Currance     CAD
Name: 2134, dtype: object
Price       2500
Currance     USD
Name: 2140, dtype: object
Price       1200
Currance     USD
Name: 2148, dtype: object
Price       4100
Currance     USD
Name: 2152, dtype: object
Price       3600
Currance     USD
Name: 2154, dtype: object
Price       2000
Currance     CAD
Name: 2169, dtype: object
Price       1990
Currance     USD
Name: 2171, dtype: object
Price       1500
Currance     USD
Name: 2178, dtype: object
Price       3200
Currance     CAD
Name: 2190, dtype: object
Price       1100
Currance     USD
Name: 2192, dtype: object
Price       1750
Currance     CAD
Name: 2220, dtype: object
Price       3000
Currance     CAD
Name: 2225, dtype: object
Price       3300
Currance     CAD
Name: 2228, dtype: object
Price       2300
Currance     USD
Name: 2232, dtype: object
Price       3600
Currance     USD
Name: 2233, dtype: object
Price       2700
Currance     CAD
Name: 2235, dtype: object
Price       750
Currance    USD
Name: 2236, dtype: object
Price       2750
Currance     USD
Name: 2237, dtype: object
Price       3700
Currance     USD
Name: 2240, dtype: object
Price       3000
Currance     CAD
Name: 2253, dtype: object
Price       4400
Currance     CAD
Name: 2263, dtype: object
Price       3000
Currance     CAD
Name: 2268, dtype: object
Price       3800
Currance     CAD
Name: 2269, dtype: object
Price       3600
Currance     USD
Name: 2271, dtype: object
Price       5000
Currance     CAD
Name: 2276, dtype: object
Price       3100
Currance     CAD
Name: 2284, dtype: object
Price       300
Currance    CAD
Name: 2297, dtype: object
Price       4800
Currance     CAD
Name: 2299, dtype: object
Price       2600
Currance     USD
Name: 2300, dtype: object
Price       150
Currance    USD
Name: 2306, dtype: object
Price       2000
Currance     USD
Name: 2310, dtype: object
Price       3200
Currance     USD
Name: 2320, dtype: object
Price       2600
Currance     USD
Name: 2323, dtype: object
Price       1600
Currance     CAD
Name: 2324, dtype: object
Price       850
Currance    CAD
Name: 2325, dtype: object
Price       1200
Currance     USD
Name: 2327, dtype: object
Price       3800
Currance     CAD
Name: 2329, dtype: object
Price       4400
Currance     CAD
Name: 2331, dtype: object
Price       2700
Currance     USD
Name: 2333, dtype: object
Price       3000
Currance     CAD
Name: 2335, dtype: object
Price       3000
Currance     USD
Name: 2338, dtype: object
Price       1300
Currance     USD
Name: 2341, dtype: object
Price       2600
Currance     USD
Name: 2344, dtype: object
Price       12345
Currance      USD
Name: 2345, dtype: object
Price       2000
Currance     USD
Name: 2347, dtype: object
Price       1500
Currance     CAD
Name: 2354, dtype: object
Price       2950
Currance     USD
Name: 2365, dtype: object
Price       4700
Currance     CAD
Name: 2371, dtype: object
Price       3600
Currance     USD
Name: 2380, dtype: object
Price       2500
Currance     USD
Name: 2386, dtype: object
Price       2600
Currance     USD
Name: 2414, dtype: object
Price       3500
Currance     CAD
Name: 2415, dtype: object
Price       2600
Currance     USD
Name: 2418, dtype: object
Price       3500
Currance     CAD
Name: 2423, dtype: object
Price       1450
Currance     USD
Name: 2424, dtype: object
Price       800
Currance    USD
Name: 2426, dtype: object
Price       2750
Currance     USD
Name: 2431, dtype: object
Price       3700
Currance     CAD
Name: 2433, dtype: object
Price       2200
Currance     CAD
Name: 2437, dtype: object
Price       2000
Currance     CAD
Name: 2440, dtype: object
Price       1600
Currance     USD
Name: 2442, dtype: object
Price       2300
Currance     USD
Name: 2446, dtype: object
Price       1500
Currance     USD
Name: 2453, dtype: object
Price       2800
Currance     USD
Name: 2465, dtype: object
Price       2700
Currance     CAD
Name: 2466, dtype: object
Price       1500
Currance     USD
Name: 2480, dtype: object
Price       5500
Currance     CAD
Name: 2487, dtype: object
Price       2000
Currance     USD
Name: 2491, dtype: object
Price       2200
Currance     USD
Name: 2492, dtype: object
Price       4299
Currance     USD
Name: 2497, dtype: object
Price       3200
Currance     CAD
Name: 2499, dtype: object
Price       2000
Currance     USD
Name: 2507, dtype: object
Price       2000
Currance     USD
Name: 2508, dtype: object
Price       1800
Currance     USD
Name: 2509, dtype: object
Price       2000
Currance     USD
Name: 2513, dtype: object
Price       2750
Currance     CAD
Name: 2516, dtype: object
Price       2100
Currance     CAD
Name: 2523, dtype: object
Price       3600
Currance     USD
Name: 2525, dtype: object
Price       4100
Currance     CAD
Name: 2533, dtype: object
Price       2450
Currance     USD
Name: 2538, dtype: object
Price       1950
Currance     USD
Name: 2557, dtype: object
Price       3000
Currance     USD
Name: 2558, dtype: object
Price       1100
Currance     USD
Name: 2563, dtype: object
Price       1100
Currance     USD
Name: 2565, dtype: object
Price       3800
Currance     USD
Name: 2567, dtype: object
Price       3000
Currance     CAD
Name: 2575, dtype: object
Price       2500
Currance     USD
Name: 2585, dtype: object
Price       3200
Currance     CAD
Name: 2602, dtype: object
Price       650
Currance    USD
Name: 2612, dtype: object
Price       600
Currance    USD
Name: 2618, dtype: object
Price       870
Currance    USD
Name: 2619, dtype: object
Price       2400
Currance     USD
Name: 2622, dtype: object
Price       3900
Currance     CAD
Name: 2625, dtype: object
Price       3250
Currance     USD
Name: 2630, dtype: object
Price       3000
Currance     CAD
Name: 2631, dtype: object
Price       2750
Currance     CAD
Name: 2634, dtype: object
Price       2500
Currance     CAD
Name: 2641, dtype: object
Price         1
Currance    CAD
Name: 2643, dtype: object
Price       3200
Currance     USD
Name: 2644, dtype: object
Price       3300
Currance     CAD
Name: 2646, dtype: object
Price       2500
Currance     USD
Name: 2650, dtype: object
Price       500
Currance    CAD
Name: 2652, dtype: object
Price       3500
Currance     USD
Name: 2655, dtype: object
Price       2200
Currance     USD
Name: 2659, dtype: object
Price       3500
Currance     USD
Name: 2673, dtype: object
Price       700
Currance    USD
Name: 2675, dtype: object
Price       900
Currance    USD
Name: 2679, dtype: object
Price       2600
Currance     USD
Name: 2680, dtype: object
Price       900
Currance    CAD
Name: 2683, dtype: object
Price       900
Currance    CAD
Name: 2684, dtype: object
Price       3950
Currance     USD
Name: 2685, dtype: object
Price       2550
Currance     CAD
Name: 2689, dtype: object
Price       2999
Currance     USD
Name: 2693, dtype: object
Price       3000
Currance     USD
Name: 2694, dtype: object
Price       3500
Currance     CAD
Name: 2697, dtype: object
Price       1950
Currance     USD
Name: 2699, dtype: object
Price       1450
Currance     CAD
Name: 2707, dtype: object
Price       3200
Currance     USD
Name: 2714, dtype: object
Price       800
Currance    USD
Name: 2717, dtype: object
Price       1200
Currance     USD
Name: 2718, dtype: object
Price       1000
Currance     USD
Name: 2726, dtype: object
Price       3000
Currance     USD
Name: 2732, dtype: object
Price       2500
Currance     USD
Name: 2735, dtype: object
Price       3500
Currance     CAD
Name: 2737, dtype: object
Price       700
Currance    USD
Name: 2738, dtype: object
Price       2300
Currance     USD
Name: 2740, dtype: object
Price       1800
Currance     USD
Name: 2741, dtype: object

1       None
3       None
5       None
9       None
10      None
        ...
2735    None
2737    None
2738    None
2740    None
2741    None
Length: 616, dtype: object

In [63]:
df1[['Price','Currance']].apply(lambda x: check_currancy(x.Price,x.Currance),axis=1)

1       1800.0
3       1850.0
5       3848.0
9       2900.0
10      1600.0
         ...
2735    2500.0
2737    2590.0
2738     700.0
2740    2300.0
2741    1800.0
Length: 616, dtype: float64

In [29]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
df1.head()

In [ ]:
df2.head(50)